.button-dark-xl {
  display: inline-block;
  border: none;
  border-radius: var(--app-size-radius);
  background: var(--app-color-dark);
  color: var(--app-color-dark-contrast);
  padding: calc(var(--app-size-spacing) * 0.5625) calc(var(--app-size-spacing) * 1.125);
  font-size: calc(1.5 * var(--app-size-font));
}
.button-dark-xl + .button-dark-xl {
  margin-right: calc(var(--app-size-spacing) * 0.5);
}
.button-dark-xl:hover, .button-dark-xl:focus, .button-dark-xl:active {
  outline: 0;
  background: var(--app-color-dark-shade);
  color: var(--app-color-dark-contrast);
  text-decoration: none;
}
.button-dark-xl:focus, .button-dark-xl:active {
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-dark-rgb), 0.3);
}
.button-dark-xl:disabled {
  opacity: 1;
  background: rgba(var(--app-color-dark-rgb), 0.5);
  color: rgba(var(--app-color-dark-contrast-rgb), 0.5);
  box-shadow: none;
}