.badge {
  border: none;
  border-radius: var(--app-size-radius);
  padding: 0.25em 0.5em;
  font-size: 0.75em;
  font-weight: 700;
  background: var(--app-color-medium);
  color: var(--app-color-medium-contrast);
}