.button-success {
  display: inline-block;
  border: none;
  border-radius: var(--app-size-radius);
  padding: calc(var(--app-size-spacing) * 0.375) calc(var(--app-size-spacing) * 0.75);
  background: var(--app-color-success);
  color: var(--app-color-success-contrast);
}
.button-success + .button-success {
  margin-right: calc(var(--app-size-spacing) * 0.5);
}
.button-success:hover, .button-success:focus, .button-success:active {
  outline: 0;
  background: var(--app-color-success-shade);
  color: var(--app-color-success-contrast);
  text-decoration: none;
}
.button-success:focus, .button-success:active {
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-success-rgb), 0.3);
}
.button-success:disabled {
  opacity: 1;
  background: rgba(var(--app-color-success-rgb), 0.5);
  color: rgba(var(--app-color-success-contrast-rgb), 0.5);
  box-shadow: none;
}