.button-danger-lg {
  display: inline-block;
  border: none;
  border-radius: var(--app-size-radius);
  background: var(--app-color-danger);
  color: var(--app-color-danger-contrast);
  padding: calc(var(--app-size-spacing) * 0.45) calc(var(--app-size-spacing) * 0.9);
  font-size: calc(1.2 * var(--app-size-font));
}
.button-danger-lg + .button-danger-lg {
  margin-right: calc(var(--app-size-spacing) * 0.5);
}
.button-danger-lg:hover, .button-danger-lg:focus, .button-danger-lg:active {
  outline: 0;
  background: var(--app-color-danger-shade);
  color: var(--app-color-danger-contrast);
  text-decoration: none;
}
.button-danger-lg:focus, .button-danger-lg:active {
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-danger-rgb), 0.3);
}
.button-danger-lg:disabled {
  opacity: 1;
  background: rgba(var(--app-color-danger-rgb), 0.5);
  color: rgba(var(--app-color-danger-contrast-rgb), 0.5);
  box-shadow: none;
}