.button-link {
  display: inline-block;
  border: none;
  border-radius: var(--app-size-radius);
  padding: calc(var(--app-size-spacing) * 0.375) calc(var(--app-size-spacing) * 0.75);
  background: none;
  color: var(--app-color-primary);
}
.button-link + .button-link {
  margin-right: calc(var(--app-size-spacing) * 0.5);
}
.button-link:hover, .button-link:focus, .button-link:active {
  background: none;
  text-decoration: underline;
  color: var(--app-color-primary-shade);
}
.button-link:disabled {
  color: rgba(var(--app-color-primary), 0.5);
  text-decoration: none;
}