.button-warning {
  display: inline-block;
  border: none;
  border-radius: var(--app-size-radius);
  padding: calc(var(--app-size-spacing) * 0.375) calc(var(--app-size-spacing) * 0.75);
  background: var(--app-color-warning);
  color: var(--app-color-warning-contrast);
}
.button-warning + .button-warning {
  margin-right: calc(var(--app-size-spacing) * 0.5);
}
.button-warning:hover, .button-warning:focus, .button-warning:active {
  outline: 0;
  background: var(--app-color-warning-shade);
  color: var(--app-color-warning-contrast);
  text-decoration: none;
}
.button-warning:focus, .button-warning:active {
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-warning-rgb), 0.3);
}
.button-warning:disabled {
  opacity: 1;
  background: rgba(var(--app-color-warning-rgb), 0.5);
  color: rgba(var(--app-color-warning-contrast-rgb), 0.5);
  box-shadow: none;
}