.form-control-danger-lg {
  display: block;
  width: 100%;
  background: var(--app-color-background);
  border-radius: var(--app-size-radius);
  color: var(--app-color-danger);
  border: var(--app-size-border) solid var(--app-color-danger);
  padding: 0.45rem 0.9rem;
  font-size: calc(1.2 * var(--app-size-font));
}
.form-control-danger-lg + .form-control-danger-lg {
  margin-top: 0.5rem;
}
.form-control-danger-lg:focus {
  outline: 0;
  border-color: var(--app-color-danger-shade);
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-danger-rgb), 0.3);
}
.form-control-danger-lg:disabled, .form-control-danger-lg[readonly] {
  opacity: 1;
  background: var(--app-color-background-shade);
  border-color: var(--app-color-medium);
}
.form-control-danger-lg[type=file] {
  overflow: hidden;
}
.form-control-danger-lg[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}