.form-control-secondary-xs {
  display: block;
  width: 100%;
  background: var(--app-color-background);
  border-radius: var(--app-size-radius);
  color: var(--app-color-secondary);
  border: var(--app-size-border) solid var(--app-color-secondary);
  padding: p("*", 0.225) p("*", 0.45);
  font-size: calc(0.6 * var(--app-size-font));
}
.form-control-secondary-xs + .form-control-secondary-xs {
  margin-top: m("*", 0.5);
}
.form-control-secondary-xs:focus {
  outline: 0;
  border-color: var(--app-color-secondary-shade);
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-secondary-rgb), 0.3);
}
.form-control-secondary-xs:disabled, .form-control-secondary-xs[readonly] {
  opacity: 1;
  border-color: var(--app-color-medium);
  background: var(--app-color-background-shade);
}
.form-control-secondary-xs[type=file] {
  overflow: hidden;
}
.form-control-secondary-xs[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}