.form-control-tertiary-sm {
  display: block;
  width: 100%;
  background: var(--app-color-background);
  border-radius: var(--app-size-radius);
  color: var(--app-color-tertiary);
  border: var(--app-size-border) solid var(--app-color-tertiary);
  padding: 0.3rem 0.6rem;
  font-size: calc(0.8 * var(--app-size-font));
}
.form-control-tertiary-sm + .form-control-tertiary-sm {
  margin-top: 0.5rem;
}
.form-control-tertiary-sm:focus {
  outline: 0;
  border-color: var(--app-color-tertiary-shade);
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-tertiary-rgb), 0.3);
}
.form-control-tertiary-sm:disabled, .form-control-tertiary-sm[readonly] {
  opacity: 1;
  background: var(--app-color-background-shade);
  border-color: var(--app-color-medium);
}
.form-control-tertiary-sm[type=file] {
  overflow: hidden;
}
.form-control-tertiary-sm[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}