.button-foreground-xs {
  display: inline-block;
  border: none;
  border-radius: var(--app-size-radius);
  background: var(--app-color-foreground);
  color: var(--app-color-foreground-contrast);
  padding: calc(var(--app-size-spacing) * 0.225) calc(var(--app-size-spacing) * 0.45);
  font-size: calc(0.6 * var(--app-size-font));
}
.button-foreground-xs + .button-foreground-xs {
  margin-right: calc(var(--app-size-spacing) * 0.5);
}
.button-foreground-xs:hover, .button-foreground-xs:focus, .button-foreground-xs:active {
  outline: 0;
  background: var(--app-color-foreground-shade);
  color: var(--app-color-foreground-contrast);
  text-decoration: none;
}
.button-foreground-xs:focus, .button-foreground-xs:active {
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-foreground-rgb), 0.3);
}
.button-foreground-xs:disabled {
  opacity: 1;
  background: rgba(var(--app-color-foreground-rgb), 0.5);
  color: rgba(var(--app-color-foreground-contrast-rgb), 0.5);
  box-shadow: none;
}