.button-clear-success {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  background: none;
  border: none;
  border: var(--app-size-border) solid rgba(0, 0, 0, 0);
  border-radius: var(--app-size-radius);
  color: var(--app-color-success);
}
.button-clear-success + .button-clear-success {
  margin-right: 0.5rem;
}
.button-clear-success:hover {
  outline: 0;
  text-decoration: none;
  background: var(--app-color-success);
  color: var(--app-color-success-contrast);
}
.button-clear-success:focus, .button-clear-success:active {
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-success-rgb), 0.3);
  border-color: var(--app-color-success);
}
.button-clear-success:disabled {
  opacity: 1;
  box-shadow: none;
  background: rgba(var(--app-color-success-rgb), 0.5);
  color: rgba(var(--app-color-success-contrast), 0.5);
}