@mixin _base {
  display: inline-block;
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 2rem;
  height: 2rem;
}

[default] {
  @include _base;
  filter: var(--app-recolor-foreground);
}

.icon-raw {
  @include _base;
}