.button-outline {
  display: inline-block;
  border-radius: var(--app-size-radius);
  padding: calc(var(--app-size-spacing) * 0.375) calc(var(--app-size-spacing) * 0.75);
  background: none;
  border: var(--app-size-border) solid var(--app-color-foreground);
  color: var(--app-color-foreground);
}
.button-outline + .button-outline {
  margin-right: calc(var(--app-size-spacing) * 0.5);
}
.button-outline:hover, .button-outline:focus, .button-outline:active {
  outline: 0;
  background: var(--app-color-foreground);
  border: var(--app-size-border) solid var(--app-color-foreground);
  color: var(--app-color-background);
  text-decoration: none;
}
.button-outline:focus, .button-outline:active {
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-foreground-rgb), 0.3);
}
.button-outline:disabled {
  opacity: 1;
  border: var(--app-size-border) solid rgba(var(--app-color-foreground-rgb), 0.5);
  color: rgba(var(--app-color-foreground-rgb), 0.5);
  box-shadow: none;
  background: none;
}