.button-outline-light {
  display: inline-block;
  border-radius: var(--app-size-radius);
  padding: calc(var(--app-size-spacing) * 0.375) calc(var(--app-size-spacing) * 0.75);
  background: none;
  border: var(--app-size-border) solid var(--app-color-light);
  color: var(--app-color-light);
}
.button-outline-light + .button-outline-light {
  margin-right: calc(var(--app-size-spacing) * 0.5);
}
.button-outline-light:hover, .button-outline-light:focus, .button-outline-light:active {
  outline: 0;
  background: var(--app-color-light);
  border: var(--app-size-border) solid var(--app-color-light);
  color: var(--app-color-light-contrast);
  text-decoration: none;
}
.button-outline-light:focus, .button-outline-light:active {
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-light-rgb), 0.3);
}
.button-outline-light:disabled {
  opacity: 1;
  border: var(--app-size-border) solid rgba(var(--app-color-light-rgb), 0.5);
  color: rgba(var(--app-color-light-rgb), 0.5);
  box-shadow: none;
  background: none;
}