.button-warning-xs {
  display: inline-block;
  border: none;
  border-radius: var(--app-size-radius);
  background: var(--app-color-warning);
  color: var(--app-color-warning-contrast);
  padding: calc(var(--app-size-spacing) * 0.225) calc(var(--app-size-spacing) * 0.45);
  font-size: calc(0.6 * var(--app-size-font));
}
.button-warning-xs + .button-warning-xs {
  margin-right: calc(var(--app-size-spacing) * 0.5);
}
.button-warning-xs:hover, .button-warning-xs:focus, .button-warning-xs:active {
  outline: 0;
  background: var(--app-color-warning-shade);
  color: var(--app-color-warning-contrast);
  text-decoration: none;
}
.button-warning-xs:focus, .button-warning-xs:active {
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-warning-rgb), 0.3);
}
.button-warning-xs:disabled {
  opacity: 1;
  background: rgba(var(--app-color-warning-rgb), 0.5);
  color: rgba(var(--app-color-warning-contrast-rgb), 0.5);
  box-shadow: none;
}