.form-group-light-sm {
  display: block;
  width: 100%;
}
.form-group-light-sm .form-label {
  display: inline-block;
  margin-bottom: calc(var(--app-size-spacing) / 2);
  font-weight: normal;
  font-size: calc(0.8 * var(--app-size-font));
}
.form-group-light-sm .form-control {
  display: block;
  width: 100%;
  background: var(--app-color-background);
  border-radius: var(--app-size-radius);
  color: var(--app-color-foreground);
  border: var(--app-size-border) solid var(--app-color-light);
  padding: calc(var(--app-size-spacing) * 0.3) calc(var(--app-size-spacing) * 0.6);
  font-size: calc(0.8 * var(--app-size-font));
}
.form-group-light-sm .form-control + .form-group-light-sm .form-control {
  margin-top: calc(var(--app-size-spacing) * 0.5);
}
.form-group-light-sm .form-control:focus {
  outline: 0;
  border-color: var(--app-color-light-shade);
  box-shadow: 0 0 0 0.2rem rgba(var(--app-color-light-rgb), 0.3);
}
.form-group-light-sm .form-control:disabled, .form-group-light-sm .form-control[readonly] {
  opacity: 1;
  border-color: var(--app-color-medium);
  background: var(--app-color-background-shade);
}
.form-group-light-sm .form-control[type=file] {
  overflow: hidden;
}
.form-group-light-sm .form-control[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}