.form-control-warning-xl {
  display: block;
  width: 100%;
  background: var(--app-color-background);
  border-radius: var(--app-size-radius);
  color: var(--app-color-warning);
  border: var(--app-size-border) solid var(--app-color-warning);
  padding: 0.5625rem 1.125rem;
  font-size: calc(1.5 * var(--app-size-font));
}
.form-control-warning-xl + .form-control-warning-xl {
  margin-top: 0.5rem;
}
.form-control-warning-xl:focus {
  outline: 0;
  border-color: var(--app-color-warning-shade);
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-warning-rgb), 0.3);
}
.form-control-warning-xl:disabled, .form-control-warning-xl[readonly] {
  opacity: 1;
  background: var(--app-color-background-shade);
  border-color: var(--app-color-medium);
}
.form-control-warning-xl[type=file] {
  overflow: hidden;
}
.form-control-warning-xl[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}