.badge-light {
  border: none;
  border-radius: var(--app-size-radius);
  padding: calc(var(--app-size-spacing) * 0.25) calc(var(--app-size-spacing) * 0.5);
  font-size: 0.75rem;
  font-weight: 700;
  background: var(--app-color-light);
  color: var(--app-color-light-contrast);
}