.form-control-dark-xl {
  display: block;
  width: 100%;
  background: var(--app-color-background);
  border-radius: var(--app-size-radius);
  color: var(--app-color-dark);
  border: var(--app-size-border) solid var(--app-color-dark);
  padding: 0.5625rem 1.125rem;
  font-size: calc(1.5 * var(--app-size-font));
}
.form-control-dark-xl + .form-control-dark-xl {
  margin-top: 0.5rem;
}
.form-control-dark-xl:focus {
  outline: 0;
  border-color: var(--app-color-dark-shade);
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-dark-rgb), 0.3);
}
.form-control-dark-xl:disabled, .form-control-dark-xl[readonly] {
  opacity: 1;
  background: var(--app-color-background-shade);
  border-color: var(--app-color-medium);
}
.form-control-dark-xl[type=file] {
  overflow: hidden;
}
.form-control-dark-xl[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}