.badge-outline-dark {
  border-radius: var(--app-size-radius);
  padding: calc(var(--app-size-spacing) * 0.25) calc(var(--app-size-spacing) * 0.5);
  font-size: 0.75rem;
  font-weight: 700;
  background: none;
  color: var(--app-color-dark);
  border: var(--app-size-border) solid var(--app-color-dark);
}