.button-clear-medium {
  display: inline-block;
  padding: calc(var(--app-size-spacing) * 0.375) calc(var(--app-size-spacing) * 0.75);
  background: none;
  border: none;
  border: var(--app-size-border) solid rgba(0, 0, 0, 0);
  border-radius: var(--app-size-radius);
  color: var(--app-color-medium);
}
.button-clear-medium + .button-clear-medium {
  margin-right: calc(var(--app-size-spacing) * 0.5);
}
.button-clear-medium:hover {
  outline: 0;
  text-decoration: none;
  background: var(--app-color-medium);
  color: var(--app-color-medium-contrast);
}
.button-clear-medium:focus, .button-clear-medium:active {
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-medium-rgb), 0.3);
  border-color: var(--app-color-medium);
}
.button-clear-medium:disabled {
  opacity: 1;
  box-shadow: none;
  background: rgba(var(--app-color-medium-rgb), 0.5);
  color: rgba(var(--app-color-medium-contrast), 0.5);
}