.button-clear-background {
  display: inline-block;
  padding: calc(var(--app-size-spacing) * 0.375) calc(var(--app-size-spacing) * 0.75);
  background: none;
  border: none;
  border: var(--app-size-border) solid rgba(0, 0, 0, 0);
  border-radius: var(--app-size-radius);
  color: var(--app-color-background);
}
.button-clear-background + .button-clear-background {
  margin-right: calc(var(--app-size-spacing) * 0.5);
}
.button-clear-background:hover {
  outline: 0;
  text-decoration: none;
  background: var(--app-color-background);
  color: var(--app-color-background-contrast);
}
.button-clear-background:focus, .button-clear-background:active {
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-background-rgb), 0.3);
  border-color: var(--app-color-background);
}
.button-clear-background:disabled {
  opacity: 1;
  box-shadow: none;
  background: rgba(var(--app-color-background-rgb), 0.5);
  color: rgba(var(--app-color-background-contrast), 0.5);
}