.form-control-background-xs {
  display: block;
  width: 100%;
  background: var(--app-color-background);
  border-radius: var(--app-size-radius);
  color: var(--app-color-background);
  border: var(--app-size-border) solid var(--app-color-background);
  padding: 0.225rem 0.45rem;
  font-size: calc(0.6 * var(--app-size-font));
}
.form-control-background-xs + .form-control-background-xs {
  margin-top: 0.5rem;
}
.form-control-background-xs:focus {
  outline: 0;
  border-color: var(--app-color-background-shade);
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-background-rgb), 0.3);
}
.form-control-background-xs:disabled, .form-control-background-xs[readonly] {
  opacity: 1;
  background: var(--app-color-background-shade);
  border-color: var(--app-color-medium);
}
.form-control-background-xs[type=file] {
  overflow: hidden;
}
.form-control-background-xs[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}