.form-control-medium-xl {
  display: block;
  width: 100%;
  background: var(--app-color-background);
  border-radius: var(--app-size-radius);
  color: var(--app-color-medium);
  border: var(--app-size-border) solid var(--app-color-medium);
  padding: p("*", 0.5625) p("*", 1.125);
  font-size: calc(1.5 * var(--app-size-font));
}
.form-control-medium-xl + .form-control-medium-xl {
  margin-top: m("*", 0.5);
}
.form-control-medium-xl:focus {
  outline: 0;
  border-color: var(--app-color-medium-shade);
  box-shadow: 0 0 0 0.25rem rgba(var(--app-color-medium-rgb), 0.3);
}
.form-control-medium-xl:disabled, .form-control-medium-xl[readonly] {
  opacity: 1;
  border-color: var(--app-color-medium);
  background: var(--app-color-background-shade);
}
.form-control-medium-xl[type=file] {
  overflow: hidden;
}
.form-control-medium-xl[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}